/data-generation/gen_env
/data-generation/logs/
/data-generation/plugins
/data-generation/working_data
/data-generation/config/
/data-generation/dags/src/credentials/
*pyc
__pycache__
*.log
*.csv
test.py
secrets/
*.json
.env
